<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demon Slayer : To The Hashira Training "First 7 minutes and 53 seconds"</title>
</head>
<body>
    <h1>Demon Slayer : To The Hashira Training "First 7 minutes and 53 seconds</h1>
    <video controls>
        <source src="{{ video_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <a href="{{ video_url }}" download>Download Video</a>
</body>
</html>
